.contatos {
    background-color: #FF9A02;
    display: flex;
    height: 40px;
    font-weight: bold;
    justify-content: space-around;
}

figure {
    position: absolute;
    align-items: center;
}

.btn-telefone {
    max-width: 20%;
    margin-top: 3px;

}

.icones_redes_sociais a {
    margin-inline: 2px;
}

.icones_redes_sociais {
    margin-top: 4px;
    margin-inline-end: 200px;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-inline: 40px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link_esquerdo {
    justify-items: flex-start;
    margin-block-start: 40px;
    margin-inline-start: 100px;
}

.link_direito {
    justify-items: flex-end;
    margin-block-start: 40px;
    margin-inline-end: 100px;
}

a:hover {
    color: #FF9A02;
}

#carouselExampleControls {
    margin-top: 100px;

}

.titulo_cards {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

a.btn-primary {
    margin-left: 1px;
}

.banners {
    text-align: center;
    margin-top: 50px;
}

.img_banner {
    margin-bottom: 20px;
}

footer {
    background-color: #FF9A02;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


footer a:hover {
    color: black !important;
}

.link_rodape {
    margin-top: 30px;
}

.titulo_rodape {
    text-align: center;
}

.botoes_rodape {
    margin-inline: 4px !important;
}

.promocoes {
    margin-top:80px;
    margin-bottom: 50px;
}

.qsomos h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.qsomos {
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 80px;
margin-left: 15px;
margin-right: 15px;
}

#formulario {
    margin-top: 80px;
}

.pacotes {
    margin-top: 40px;
    margin-bottom: 10px;
}
.pacotes h2 {
    text-align: center;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (max-width: 1250px) {
    .icones_redes_sociais {
        margin-inline-end: auto;
    }
}

@media (max-width: 1135px) {
    .logo {
        width: 70%;
        height: 70%;
    }

    .link_esquerdo {
        margin-inline-start: 10px;
    }

    #carouselExampleControls {
        margin-top: 40px;
    }
}

@media (max-width: 1050px) {
    .icones_redes_sociais {
        width: 230px;
    } 

    .logo {
        width: 50%;
        height: 50%;
    }

    .contatos figure {
        text-align: center;
    }
    .links {
        margin-top: 20px;
    }
    .link_direito {
        margin-inline-end: 10px;
    }
}


@media (max-width:890px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 8px;
    }
}

@media (max-width: 820px) {
    .link_rodape a {
        margin-inline: 5px;
    }

    .img_banner {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 760px) {
    .links a {
        margin: 5px;
    }
}

@media (max-width: 660px) {
    .btn-telefone {
        display: none;
    }

    .icones_redes_sociais {
        margin-inline-start: 380px;
    }

}

@media (max-width: 580px) {
    .icones_redes_sociais {
        margin-inline-start: 350px;
    } 
}

@media (max-width: 555px) {
    .icones_redes_sociais img {
        width: 20px;
    }
    .botoes_rodape img {
        width: 30px;
    }

    .titulo_rodape  p {
        font-size: 15px;
    }

    .link_direito {
        margin-inline-end: 5px;
    }
    svg {
        position: fixed;
        bottom:50px;
        right:40px;
    }

}

@media (max-width:541px) {
    .link_rodape {
        font-size: 10px;
    }
}

@media (max-width: 525px) {

    .links a {        
        margin-inline: 5px;
    }

    .icones_redes_sociais {
        margin-inline-start: 300px;
    }
}

@media (max-width: 460px) {
    .icones_redes_sociais {
        margin-inline-start: 280px;
    }
}

@media (max-width: 460px) {
    .icones_redes_sociais {
        margin-inline-start: 260px;
    }
}

@media (max-width: 430px) {
    .icones_redes_sociais {
        display:none;
     }
}

@media (max-width: 390px) {
    .titulo_rodape {
        display: none;
    }

    .links a {
        font-size: 13px;
    }

    .link_rodape  {
        font-size: 13px;
        margin-inline: auto;
    }

    footer div {
        align-items: center;
    }
}

@media (max-width:330px) {
    .links a {
        font-size: 12px;
    }

    .link_rodape {
        font-size: 12px;
    }
}